<html>
<head>
  <meta name="viewport" content="width=device-width">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16" />
  <link rel="manifest" href="/images/manifest.json">
  <meta name="application-name" content="Rally Starter"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="/images/mstile-150x150.png" />
  <meta name="google-site-verification" content="biwcL5BR8a7nFeUhvwogYvjxDPxr0MX0zHmfX2nqZfM" />
  <meta name="format-detection" content="telephone=no">
  <title>Rally Starter</title>
  <meta name="description" content="A platform to mobilize communities and build movements that benefit humanity">
  <link rel="image_src" href="/images/rallystarter.png">
  <meta property="og:title" content="Rally Starter">
  <meta property="og:image" content="https://rallystarter.com/images/rallystarter.png">
  <meta property="og:url" content="http://localhost:3000/">
  <meta property="og:type" content="website">
  <meta property="og:description" content="A platform to mobilize communities and build movements that benefit humanity">
  <meta property="fb:app_id" content="483335758493477">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:description" content="A platform to mobilize communities and build movements that benefit humanity">
  <meta name="twitter:site" content="@rallystarters">
  <meta name="twitter:title" content="Rally Starter">
  <meta name="twitter:image" content="https://rallystarter.com/images/rallystarter.png">

  <link rel='stylesheet' type='text/css' media='all' href="/client/css/global/page.css?v=0b508d4427a3591d6c20dc0e0f003dd46ef86529">
  <link rel='stylesheet' type='text/css' media='all' href="/client/css/front/page.css?v=0b508d4427a3591d6c20dc0e0f003dd46ef86529">

  <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="7LSeOwD/Huz05xvxhWjakZHfxCKcG58nQ/vHW7OOVjmBootdctbR+mx/y5CSNGMkbzwnFgkP2rumn7GUy9jFWw==" />

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TBC2CML');</script>
  <!-- End Google Tag Manager -->
</head>

<body>

<div id='rally-starter-global-loading' style='
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: white;'>
  <div style='
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(/svgs/logos/grey-no-text.svg);
    background-size: 64px;
    background-repeat: no-repeat;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    background-position: center; '>
  </div>
</div>

<style>
  @-webkit-keyframes pulsate {
    0% {opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
  }
</style>





<div class='render-top-nav'></div>

<header class='home-header'>
  <div class='mb-4 md-mb-2'>
    <div class='container flex flex-wrap'>
      <div class='col-6 md-flex-order-2 md-col-12 p-2 flex-item-align-center'>
        <h1 class='color-teal boldest h3 mt-0 md-mt-2'>People-Powered <br> Social Change</h1>
        <h2 class='line-height-3 normal bump mb-0'>Advocacy tools to organize supporters &amp; mobilize actions for a better world</h2>
      </div>
      <div class='col-6 md-flex-order-1 md-col-12 py-2 flex-item-align-flex-end home-hero'>
        <img class='invisible col-12 block sm-hide' src='/images/home-hero-lg.png'>
        <img class='invisible col-12 block lg-hide md-hide' src='/images/home-hero-sm.png'>
      </div>
    </div>
  </div>
</header>

<main>
  <section id='discover' class='container px-2'>
    <h3 class='bump normal'>Find Your Rally</h3>
    <div class='ff-render-discover'></div>
  </section>
  <div class='pb-2'>


    <div class='container pt-4 pb-4 px-2 center'>
      <h3 class='h4 mt-0 pb-2 color-teal'>Don&#39;t See What You&#39;re Looking For?</h3>
      <a class='btn btn-main btn-large' href='/start'>Start a Rally</a>
    </div>

  </div>
  <section class='bg-grey-light color-purple overflow-hidden'>
    <div class='container flex flex-wrap px-2'>
      <div class='col-6 py-4 md-pb-0 md-mb-0 md-col-12 flex-item-align-center'>
        <div class='boldest uppercase'>
          <div class='table-cell bump pr-1'>&ldquo;</div>
          <div class='table-cell align-top'>
            <span class='bump'> I&#39;m no longer accepting the things I cannot change...I&#39;m changing the things I cannot accept.</span>
            <span class='bump'>&rdquo;</span>
            <p class='align-right mb-0'>Angela Davis, Political Activist</p>
          </div>
        </div>


      </div>
      <div class='col-6 md-col-12 pl-2 md-pl-0 md-pt-3 flex-item-align-flex-end'>
        <img class='block mx-auto' src='/images/angela-davis.png'>
      </div>
    </div>
  </section>
  <section class='my-4 hex-bg hex-bg--2 container'>
    <div class='center pb-2 pt-1'>
      <h3 class='color-teal boldest'>Advocacy Tools for Nonprofits</h3>
      <div class='container--narrow center'>
        <p class='color-grey'>We made it easy for nonprofits, advocacy groups and online organizers to embed change campaigns with one-click actions into any website.</p>
      </div>
    </div>
    </div>
    <div class='px-2 pt-3 pb-4 flex flex-wrap flex-align-center'>
      <div class='col-6 md-col-12 md-flex-order-2 center'>
        <img src='/images/widgets-screenshot.png'>
      </div>
      <div class='pl-4 col-6 md-col-12 md-pl-0 md-flex-order-1 md-pb-2'>
        <h4 class='color-teal mt-0'>Embeddable Action Widgets</h4>
        <ul class='color-grey pb-3'>
          <li>Click to call/email campaigns, congressional database, petitions, boycotts, social media and more.</li>
          <li>Grow your email list when supporters opt-in as they take actions. Available through CSV download and database integration.</li>
        </ul>
        <a class='btn btn-main' href='/how-it-works?org=true'>Learn More</a>
      </div>
    </div>
  </section>
</main>



<div id='ff-render-newsletter-popup'></div>
<footer class='pt-3 pb-5 globalFooter border-top'>
  <div class='container--wide p-2 flex flex-wrap'>

    <div class='pr-5 sm-hide'>
      <a href='/'>
        <img style='width: 64px' title='Rally Starter' src='/svgs/logos/green-no-text.svg'>
      </a>
    </div>

    <div class='pr-5'>
      <h3 class='h5 normal mt-0 opacity-075 boldest'>Overview</h3>
      <ul class='list-reset sub'>
        <li class='mb-2'>


          <a href='/how-it-works' class='hover-underline' title='How it Works (for individuals)'>How it Works (for individuals)</a>


        </li>
        <li class='mb-2'>


          <a href='/how-it-works?org=true' class='hover-underline' title='How it Works (for organizations)'>How it Works (for organizations)</a>


        </li>
        <li class='mb-2'>


          <a href='/about-us' class='hover-underline' title='About Us'>About Us</a>


        </li>
        <li class='mb-2'>


          <a href='/pricing' class='hover-underline' title='Pricing'>Pricing</a>


        </li>
        <li class='mb-2'>


          <a href='/rally-guidelines' class='hover-underline' title='Rally Guidelines'>Rally Guidelines</a>


        </li>
      </ul>
    </div>

    <div class='pr-5 md-pr-0'>
      <h3 class='h5 normal mt-0 opacity-075 boldest'>Help</h3>
      <ul class='list-reset sub font'>
        <li class='mb-2'>


          <a href='/faqs' class='hover-underline' title='FAQs'>FAQs</a>


        </li>
        <li class='mb-2'>


          <a href='/contact' class='hover-underline' title='Contact'>Contact</a>


        </li>
        <li class='mb-2'>


          <a href='/resources' class='hover-underline' title='Resources'>Resources</a>


        </li>
        <li class='mb-2'>


          <a href='/policies' class='hover-underline' title='Policies'>Policies</a>


        </li>
        <li class='mb-2'>


          <a href='/sign_out' class='hover-underline' title='Logout'>Logout</a>


        </li>
      </ul>
    </div>

    <div class='flex flex-grow-1 md-col-12 md-mt-4'>
      <div class='align-right flex-grow-2'>
        <a class='bg-facebook social-circle m-05' target='_blank' href='https://www.facebook.com/rallystarter' title='https://www.facebook.com/rallystarter'>
          <i class='social-icon-facebook'></i>
        </a>


        <a class='bg-twitter social-circle m-05' target='_blank' href='https://twitter.com/rallystarters' title='https://twitter.com/rallystarters'>
          <i class='social-icon-twitter'></i>
        </a>




      </div>
    </div>

  </div>
</footer>




<!-- Global environment variables for JS -->

<script>

  var facebookId = 459806281033617

  window.ENV = {
    csrf: "SZpEUhjLzgO7lWBejhMJ5bRjL2DwBHFtXrHYwfk8kbAkjFE0auIBFSMNsD+ZT7BQSoDMVGUQNPG71a4OgWoC0g=="
    , currentUser: {"firstname":"","lastname":"","email":"citizen@example.com","phone":null,"carrier":null,"id":1,"phone_confirmed":false,"image_url":null,"interests":[],"confirmed":true,"email_alias":"citizen-1@mail.rallystarter.org"}
    , stripePublishableKey: "pk_test_k1YtGSMEzy8RffP5BsCgis6D"
    , flashNotice: ""
    , flashError: ""
    , ajaxHeaders: {'X-CSRF-Token': 'PVIbVatQRAOW3Sq7YJLXjjKl6CAkEGEOpDV1lWE6qNJQRA4z2XmLFQ5F+tp3zm47zEYLFLEEJJJBUQNaGWw7sA==', 'Accept': 'application/json', 'Content-Type': 'application/json'}
    , facebookId: facebookId
    , user_return_to: "http://localhost:3000/"
  }
</script>


<script src="/client/js/page.js?v=0b508d4427a3591d6c20dc0e0f003dd46ef86529" type="text/javascript"></script>

<script src="/client/js/render/front/page.js?v=0b508d4427a3591d6c20dc0e0f003dd46ef86529" type="text/javascript"></script>

</body>
</html>
